@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  @apply text-[62.5%] lg:text-[56%] xl:text-[59%];
  box-sizing: border-box;
}

body {
  @apply bg-sea-foam text-chalk-black;
}

.container {
  @apply w-full max-w-3xl p-5 mx-auto;
}

/* fonts */

.nav-font {
  @apply uppercase text-[1.8rem];
}
/* Navigation */

header {
  @apply fixed w-full flex justify-center h-[110px] py-[40px];
  z-index: 999;

  nav {
    @apply flex justify-between w-[90%] px-[20px] py-[40px] sm:w-[80%] sm:p-[50px] bg-sea-foam border-2 border-chalk-black border-solid;

    .img-name-container {
      @apply flex items-center;
      .img-container {
        @apply w-[50px] h-[50px] overflow-hidden mr-[10px] md:w-[80px] md:h-[80px];
        img {
          @apply w-[100%] h-[100%] object-cover;
        }
      }
      p {
        @apply nav-font font-bold;
      }
    }

    .desktop-nav {
      @apply flex items-center gap-[40px] no-underline;

      li a {
        @apply text-[1.6rem] font-bold uppercase;
      }
      a,
      a:visited {
        text-decoration: none;
      }
    }
  }
}

#hero {
  @apply h-screen flex justify-center items-center border-chalk-black border-b-2;

  .hero-content {
    width: 80%;
    text-align: center;
    h1 {
      @apply uppercase font-extrabold text-left text-[5rem] mb-[16px] md:text-center;
      letter-spacing: 3px;
    }
    p {
      @apply text-[2.2rem];
    }
  }
}

#about {
  @apply py-[100px] border-chalk-black border-b-2;

  .about-container {
    @apply w-[90%] m-auto;

    .blurb {
      @apply flex flex-col items-center mb-[60px] text-left text-[2rem] sm:text-center sm:text-[1.8rem];

      h2 {
        @apply text-[4rem] mb-[20px];
      }
      p {
        @apply leading-[1.7] w-full sm:w-[50%];
      }
    }

    .about-content {
      @apply flex flex-col sm:flex-row;
      .about-text {
        @apply w-[100%] mb-[60px] sm:mb-0 md:w-[50%] sm:mr-[60px];
        h3 {
          @apply text-[2.8rem] mb-[20px];
        }
        p {
          font-size: 1.8rem;
          line-height: 1.7;
        }
      }
    }

    .skills-content {
      h3 {
        @apply text-[2.4rem] sm:text-[2.8rem] mb-[20px];
      }

      .skill-grid {
        @apply flex flex-wrap gap-[10px];
      }

      .skill {
        @apply text-center font-semibold text-[1.6rem] py-[10px] px-[8px] bg-chalk-black text-sea-foam;
      }
    }
  }
}

/* Experience */

#experience {
  @apply bg-sea-foam py-[200px] px-0;

  h1 {
    @apply text-[4rem] mb-[60px] uppercase text-center;
  }

  .experience-block {
    @apply flex flex-wrap bg-chalk-black text-sea-foam w-[90%] m-auto mb-[40px] p-[8px] md:p-[20px] md:w-[800px] md:flex-nowrap;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    .work-date {
      @apply leading-[1.2] p-[20px];

      .title {
        @apply text-[2.4rem] font-bold uppercase;
      }
      .job {
        @apply text-[2rem] mb-[8px];
      }
      .year {
        font-size: 1.2rem;
      }
    }
    .work-text {
      @apply p-[20px] text-[1.8rem] leading-[1.7] border-sea-foam border-t-2 border-solid md:border-t-0;
      p {
        @apply pt-[10px] md:pt-0;
      }
    }
  }
}

/* ----------------- Contact */

#contact {
  @apply pt-[64px] h-[70vh] bg-chalk-black text-sea-foam border-b-2 border-sea-foam;
  .contact-info {
    h2 {
      @apply text-sea-foam uppercase text-[4rem] text-center mb-[64px];
    }
  }
}

footer {
  @apply bg-chalk-black text-sea-foam pt-[50px];
  .footer-content {
    @apply m-auto flex flex-col sm:flex-row justify-between w-[90%] py-[40px] px-0;

    .name-blurb {
      @apply text-sea-foam w-full sm:w-[60%] mb-[32px];

      h2 {
        @apply nav-font mb-[20px];
      }
      p {
        @apply text-[1.5rem] leading-[1.7] w-[80%];
      }
    }

    .socials {
      @apply w-full sm:w-[20%];
      p {
        @apply nav-font font-semibold mb-[20px];
      }
      ul {
        @apply flex pl-0 list-none;
        li {
          margin-right: 8px;
        }
        .footer-icon {
          width: 20px;
        }
      }
    }
  }

  .copyright {
    @apply m-auto w-[90%] text-center py-[20px] px-0;
    p {
      font-size: 1.2rem;
    }

    a,
    a:visited {
      @apply no-underline text-sea-foam;
    }
  }
}

/* -------- BREAKPOINTS ------------- */

/* ------- 600 ------------- */
@media only screen and (min-width: 600px) {
  .hamburger-container,
  .mobile-list,
  .mobile-list-state-1,
  .mobile-list-state-2 {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  header {
    padding: 20px 0;

    nav {
      .desktop-nav {
        display: none;
      }

      .hamburger-container {
        display: flex;
        align-items: center;

        .hamburger-menu {
          width: 40px;
          display: flex;
          flex-direction: column;
          gap: 4px;
          opacity: 1;
          &:hover {
            cursor: pointer;
          }

          span:nth-child(1) {
            background-color: #231f20;
          }
          span:nth-child(3) {
            background-color: #231f20;
          }

          span {
            transform: rotate(0deg);
            display: block;
            height: 4px;
            background-color: #231f20;
            transition: 0.4s ease-in-out;
          }
        }
      }

      .rotated-menu {
        width: 40px;
        &:hover {
          cursor: pointer;
        }
        span {
          transition: 0.4s ease-in-out;
          display: block;
          height: 4px;
          background-color: #231f20;
        }
        span:nth-child(1) {
          transform: translateY(0px) rotate(135deg);
          background-color: #231f20;
        }
        span:nth-child(2) {
          opacity: 0;
          transform: translateX(-60px);
        }
        span:nth-child(3) {
          transform: translateY(-9px) rotate(-135deg);
          background-color: #231f20;
        }
      }

      .mobile-list {
        padding: 0;
        z-index: 999;
        position: fixed;
        margin-top: 80px;
        transition: 0.4s ease-in-out;
        display: flex;
        flex-direction: column;
        list-style: none;

        li {
          text-align: center;
          padding: 20px 0px;
          width: 100%;
          border-bottom: 2px solid #231f20;
          background-color: #8df9e6;

          a {
            @apply text-[1.6rem] font-bold no-underline;
          }

          a:visited {
            @apply no-underline;
            color: #231f20;
          }
        }
      }

      .mobile-list-state-1 {
        right: -200px;
        width: 0%;
        opacity: 0;
      }

      .mobile-list-state-2 {
        right: 0px;
        width: 100%;
      }
    }
  }
}
