@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --sea-foam: #8df9e6;
  --black: #231f20;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  color: var(--black);
}

body {
  background-color: var(--sea-foam);
}

.container {
  @apply w-full max-w-3xl p-5 mx-auto;
}

/* Navigation */

header {
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 64px;
  display: flex;
  justify-content: center;
  padding: 40px 0;

  nav {
    justify-content: space-between;
    width: 80%;
    display: flex;
    border: solid var(--black) 2px;
    padding: 50px 20px;
    background-color: var(--sea-foam);

    .img-name-container {
      display: flex;
      align-items: center;

      p {
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 700;
      }
    }

    .desktop-nav {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 40px;

      li a {
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
      }

      a {
        text-decoration: none;
      }

      a:visited {
        text-decoration: none;
        color: #231f20;
      }
    }
  }
}

#hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: var(--black) solid 2px;

  .hero-content {
    h1 {
      text-transform: uppercase;
      font-weight: 800;
      font-size: 6rem;
      margin-bottom: 16px;
      letter-spacing: 3px;
    }
    p {
      font-size: 2.2rem;
    }
  }
}

#about {
  padding: 100px 0;
  border-bottom: var(--black) solid 2px;

  .about-container {
    width: 90%;
    margin: auto;

    .blurb {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 60px;
      text-align: center;
      font-size: 2rem;
      line-height: 1.5;

      h2 {
        font-size: 4rem;
        margin-bottom: 20px;
      }

      p {
        width: 50%;
      }
    }

    .about-content {
      display: flex;

      .about-text {
        width: 50%;

        h3 {
          font-size: 2.8rem;
          margin-bottom: 20px;
        }

        p {
          font-size: 1.8rem;
          line-height: 1.7;
        }
      }
    }

    .skills-content {
      h3 {
        font-size: 2.8rem;
        margin-bottom: 20px;
      }

      .skill-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }

      .skill {
        text-align: center;
        font-weight: 600;
        border-radius: 5px;
        font-size: 1.6rem;
        padding: 10px 8px;
        background-color: var(--black);
        color: var(--sea-foam);
      }
    }
  }
}

/* Experience */

#experience {
  background-color: var(--sea-foam);
  padding: 200px 0;

  h1 {
    font-size: 4rem;
    margin-bottom: 60px;
    text-transform: uppercase;
    text-align: center;
  }

  .experience-block {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: var(--black);
    color: var(--sea-foam);
    width: 90%;
    margin: auto;
    display: flex;
    margin-bottom: 40px;
    padding: 20px;

    .work-date {
      line-height: 1.2;
      padding: 20px;

      .title {
        font-size: 2.4rem;
        font-weight: 700;
        text-transform: uppercase;
      }
      .job {
        font-size: 2rem;
        margin-bottom: 8px;
      }
      .year {
        font-size: 1.2rem;
      }
    }
    .work-text {
      padding: 20px;
      font-size: 1.8rem;
      line-height: 1.7;
    }
  }
}

/* ----------------- Contact */

#contact {
  padding-top: 64px;
  height: 70vh;
  background-color: var(--black);
  color: var(--sea-foam);
  border-bottom: var(--sea-foam) solid 2px;
  .contact-info {
    h2 {
      text-transform: uppercase;
      font-size: 4rem;
      text-align: center;
      margin-bottom: 64px;
    }
    .contact-form {
      margin: auto;
      padding: 32px;

      form {
        display: flex;
        flex-direction: column;

        .form-field {
          margin-bottom: 20px;
          .form-label {
            display: block;
            font-size: 1.4rem;
            letter-spacing: 1px;
            font-weight: 700;
            margin-bottom: 1rem;
            text-align: left;
          }

          input {
            padding: 0;
            border: 0;
            width: 100%;
            height: 50px;
            font-size: 1.6rem;
          }

          textarea {
            padding: 0;
            border: 0;
            width: 100%;
            height: 100px;
            font-size: 1.6rem;
          }
        }
        .submit-button {
          display: flex;
          justify-content: flex-end;
          button {
            border: 0;
            padding: 0;
            height: 60px;
            width: 50%;
            background-color: var(--sea-foam);
            color: var(--black);
            text-transform: uppercase;
            font-weight: 700;
          }
        }
      }
    }
  }
}

footer {
  background-color: var(--black);
  color: var(--sea-foam);
  padding-top: 50px;
  .footer-content {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 40px 0;

    .name-blurb {
      width: 60%;
      margin-bottom: 32px;
      h2 {
        font-size: 2.2rem;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      p {
        font-size: 1.5rem;
        line-height: 1.7;
        width: 80%;
      }
    }

    .socials {
      width: 20%;
      p {
        font-size: 2.2rem;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 20px;
      }
      ul {
        li {
          margin-right: 8px;
        }
        list-style: none;
        display: flex;
        padding-left: 0;
        .footer-icon {
          width: 20px;
        }
      }
    }
  }

  .copyright {
    margin: auto;
    width: 90%;
    text-align: center;
    padding: 20px 0;
    p {
      font-size: 1.2rem;
    }
    a {
      text-decoration: none;
    }
    a:visited {
      color: var(--sea-foam);
    }
  }
}

/* -------- BREAKPOINTS ------------- */

/* --------- 1200 */

@media screen and (max-width: 1200px) {
  html {
    font-size: 59%;
  }
}

@media only screen and (min-width: 900px) {
  .img-container {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .about-content {
    p {
      padding-right: 60px;
    }
  }

  .contact-content {
    width: 50%;
    margin: auto;
  }
}

/* --------- 900 */

@media only screen and (max-width: 900px) {
  html {
    font-size: 56%;
  }

  .img-container {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .about-container {
    .blurb {
      margin-bottom: 60px;
    }

    .about-content {
      flex-direction: column;

      .about-text {
        width: 100% !important;
        margin-bottom: 60px;

        h3 {
          margin-bottom: 20px;
        }
      }
    }

    .skills-content {
      h3 {
        margin-bottom: 20px;
      }
    }
  }
}

/* ------- 600 ------------- */
@media only screen and (min-width: 600px) {
  .hamburger-container,
  .mobile-list,
  .mobile-list-state-1,
  .mobile-list-state-2 {
    display: none;
  }

  .contact-form {
    width: 500px;
    padding: 64px;
  }

  .experience-block {
    max-width: 800px;
  }
}

@media only screen and (max-width: 600px) {
  header {
    padding: 20px 0;

    nav {
      width: 81%;
      border: solid #231f20 2px;
      justify-content: space-between;
      padding: 0 20px;
      background-color: var(--sea-foam);

      .desktop-nav {
        display: none;
      }

      .hamburger-container {
        display: flex;
        align-items: center;

        .hamburger-menu {
          width: 40px;
          display: flex;
          flex-direction: column;
          gap: 4px;
          opacity: 1;
          &:hover {
            cursor: pointer;
          }

          span:nth-child(1) {
            background-color: #231f20;
          }
          span:nth-child(3) {
            background-color: #231f20;
          }

          span {
            transform: rotate(0deg);
            display: block;
            height: 4px;
            background-color: #231f20;
            transition: 0.4s ease-in-out;
          }
        }
      }

      .rotated-menu {
        width: 40px;
        &:hover {
          cursor: pointer;
        }
        span {
          transition: 0.4s ease-in-out;
          display: block;
          height: 4px;
          background-color: #231f20;
        }
        span:nth-child(1) {
          transform: translateY(0px) rotate(135deg);
          background-color: #231f20;
        }
        span:nth-child(2) {
          opacity: 0;
          transform: translateX(-60px);
        }
        span:nth-child(3) {
          transform: translateY(-9px) rotate(-135deg);
          background-color: #231f20;
        }
      }

      .mobile-list {
        padding: 0;
        z-index: 999;
        position: fixed;
        margin-top: 80px;
        transition: 0.4s ease-in-out;
        display: flex;
        flex-direction: column;
        list-style: none;

        li {
          text-align: center;
          padding: 20px 0px;
          width: 100%;
          border-bottom: 2px solid #231f20;
          background-color: #8df9e6;

          a {
            font-size: 1.6rem;
            font-weight: 700;
            text-decoration: none;
          }

          a:visited {
            text-decoration: none;
            color: #231f20;
          }
        }
      }

      .mobile-list-state-1 {
        right: -200px;
        width: 0%;
        opacity: 0;
      }

      .mobile-list-state-2 {
        right: 0px;
        width: 100%;
      }
    }
  }

  .hero {
    height: 64vh;
    .hero-content {
      padding: 0 20px;

      h1 {
        font-size: 4.5rem;
      }
      p {
        font-size: 2rem;
        line-height: 1.5;
      }
    }
  }

  #about {
    h3 {
      font-size: 2.4rem !important;
    }

    .blurb {
      p {
        text-align: left;
        font-size: 1.8rem;
        width: 100% !important;
      }
    }
  }

  .experience-block {
    flex-wrap: wrap;
    padding: 8px !important;

    .work-date {
      padding-bottom: 0;
      .title {
        font-size: 2.4rem;
      }
    }

    .work-text {
      border-top: var(--sea-foam) solid 2px;

      padding-top: 0;
    }
  }

  .contact-form {
    width: 70%;
  }

  .footer-content {
    flex-direction: column;
    .name-blurb {
      width: 100% !important;
    }
    .socials {
      width: 100% !important;
    }
  }
}

@media only screen and (max-width: 425px) {
  .submit-button {
    button {
      width: 100% !important;
    }
  }
}
