* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* Navigation */

header {
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 64px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  padding: 40px 0;

  nav {
    background-color: lightcoral;
    justify-content: space-between;
    width: 80%;
    display: flex;

    .img-name-container {
      display: flex;
      align-items: center;

      p {
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 700;
      }
    }

    .desktop-nav {
      background-color: lightgreen;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 40px;

      li a {
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
      }

      a {
        text-decoration: none;
      }
    }
  }
}

.hero {
  background-color: lightcoral;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-content {
    h1 {
      text-transform: uppercase;
      font-weight: 800;
      font-size: 6rem;
      margin-bottom: 16px;
      letter-spacing: 3px;
      background-color: lightskyblue;
    }
    p {
      font-size: 2.2rem;
    }
  }
}

#about {
  background-color: lightblue;
  padding: 100px 0;

  .about-container {
    background-color: lightcoral;
    width: 90%;
    margin: auto;

    .blurb {
      background-color: lightgreen;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 60px;
      text-align: center;
      font-size: 2rem;
      line-height: 1.6;

      h2 {
        font-size: 4rem;
        margin-bottom: 20px;
      }

      p {
        width: 50%;
      }
    }

    .about-content {
      background-color: lightseagreen;
      display: flex;

      .about-text {
        background-color: lightgray;
        width: 50%;

        h3 {
          font-size: 2.8rem;
          margin-bottom: 20px;
        }

        p {
          line-height: 1.7;
          font-size: 1.8rem;
        }
      }
    }

    .skills-content {
      h3 {
        font-size: 2.8rem;
        margin-bottom: 20px;
      }

      .skill-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }

      .skill {
        text-align: center;
        font-weight: 600;
        border-radius: 5px;
        font-size: 1.6rem;
        padding: 10px 8px;
        color: #727272;
        background-color: rgb(176, 176, 176);
      }
    }
  }
}

/* Experience */

#experience {
  background-color: lightcoral;
  height: 100vh;
  padding: 200px 0;

  h1 {
    font-size: 4rem;
    margin-bottom: 60px;
    text-transform: uppercase;
    text-align: center;
  }

  .experience-block {
    background-color: lightskyblue;
    width: 90%;
    margin: auto;
    display: flex;
  }
}

/* ----------------- Contact */

#contact {
  background-color: lightslategrey;

  .contact-info {
    background-color: lightcoral;

    h2 {
      text-transform: uppercase;
      font-size: 4rem;
      text-align: center;
      margin-bottom: 20px;
    }
    .contact-form {
      background-color: lightgreen;
      margin: auto;
      padding: 32px;

      form {
        display: flex;
        flex-direction: column;

        .form-field {
          margin-bottom: 20px;
          .form-label {
            display: block;
            font-size: 1.4rem;
            letter-spacing: 1px;
            font-weight: 700;
            margin-bottom: 1rem;
            text-align: left;
          }

          input {
            width: 100%;
            height: 50px;
            font-size: 1.6rem;
          }

          textarea {
            width: 100%;
            height: 100px;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

/* ----------------- Experience */
.experience-block {
  .work-date {
    line-height: 1.2;
    padding: 20px;

    .title {
      font-size: 2.4rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    .job {
      font-size: 2rem;
    }
    .year {
      font-size: 1.2rem;
    }
  }
  .work-text {
    padding: 20px;
    background-color: lightgreen;
    font-size: 1.8rem;
    line-height: 1.7;
  }
}
/* -------- BREAKPOINTS ------------- */

/* --------- 1200 */

@media screen and (max-width: 1200px) {
  html {
    font-size: 59%;
  }
}

@media only screen and (min-width: 901px) {
  .img-container {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .about-content {
    p {
      padding-right: 60px;
    }
  }

  .contact-content {
    width: 50%;
    margin: auto;
  }
}

/* --------- 900 */

@media only screen and (max-width: 900px) {
  html {
    font-size: 56%;
  }

  .img-container {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .about-container {
    .blurb {
      margin-bottom: 60px;
    }

    .about-content {
      flex-direction: column;

      .about-text {
        width: 100% !important;
        margin-bottom: 60px;

        h3 {
          margin-bottom: 20px;
        }
      }
    }

    .skills-content {
      h3 {
        margin-bottom: 20px;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .hamburger-container,
  .mobile-list,
  .mobile-list-state-1,
  .mobile-list-state-2 {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  header {
    background-color: lightgoldenrodyellow;
    padding: 20px 0;

    nav {
      width: 100%;
      justify-content: space-between;
      padding: 0 20px;

      .desktop-nav {
        display: none;
      }

      .hamburger-container {
        background-color: lightblue;
        display: flex;
        align-items: center;

        .hamburger-menu {
          width: 40px;
          display: flex;
          flex-direction: column;
          gap: 4px;
          opacity: 1;
          &:hover {
            cursor: pointer;
          }
          background-color: lightseagreen;

          span:nth-child(1) {
            background-color: brown;
          }
          span:nth-child(3) {
            background-color: rgb(223, 253, 2);
          }

          span {
            transform: rotate(0deg);
            display: block;
            height: 4px;
            background-color: white;
            transition: 0.4s ease-in-out;
          }
        }
      }

      .rotated-menu {
        width: 40px;
        &:hover {
          cursor: pointer;
        }
        span {
          transition: 0.4s ease-in-out;
          display: block;
          height: 4px;
          background-color: white;
        }
        span:nth-child(1) {
          transform: translateY(0px) rotate(135deg);
          background-color: brown;
        }
        span:nth-child(2) {
          opacity: 0;
          transform: translateX(-60px);
        }
        span:nth-child(3) {
          transform: translateY(-9px) rotate(-135deg);
          background-color: rgb(223, 253, 2);
        }
      }

      .mobile-list {
        padding: 0;
        z-index: 999;
        position: fixed;
        margin-top: 84px;
        transition: 0.4s ease-in-out;
        display: flex;
        flex-direction: column;
        list-style: none;

        li {
          text-align: right;
          padding: 20px 24px;
          border-bottom: 1px solid #eee;
          width: 100%;

          a {
            font-size: 1.6rem;
            font-weight: 700;
            text-decoration: none;
          }
        }
      }

      .mobile-list-state-1 {
        right: -200px;
        width: 0%;
      }

      .mobile-list-state-2 {
        right: 46px;
        width: 100%;
      }
    }
  }

  .hero {
    height: 64vh;
    .hero-content {
      padding: 0 20px;

      h1 {
        font-size: 4.5rem;
      }
      p {
        font-size: 2rem;
        line-height: 1.5;
      }
    }
  }

  #about {
    h3 {
      font-size: 2.4rem !important;
    }

    .blurb {
      p {
        text-align: left;
        font-size: 1.8rem;
        width: 100% !important;
      }
    }
  }

  .experience-block {
    flex-wrap: wrap;

    .work-date {
      padding-bottom: 0;
      margin-bottom: 20px;
      .title {
        font-size: 2.4rem;
      }
    }

    .work-text {
      padding-top: 0;
    }
  }

  .contact-form {
    width: 70%;
    .form-field {
    }
  }
}
